* {
    margin: 0;
    padding: 0;
    font-family: Oswald-Regular;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    min-height: 65vh;
}